@model StorageManagementSystem.Models.StudentRegister

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Storage Management System</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/script/jquery-1.7.1.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#University").change(function () {
                var id = $(this).val();
                $("#Campus").empty();
                $.get("campusBind", { uni_id : id }, function (data) {
                    var v = "<option>---Select---</option>";
                    $.each(data, function (i, v1) {
                        v += "<option value=" + v1.Value + ">" + v1.Text + "</option>";
                    });
                    $("#Campus").html(v);
                });
            });
        });
    </script>
</head>

@{
    ViewData["Title"] = "Register";
    Layout = null;
}
<body>
    <div class="container">
        <main role="main" class="pb-3">
            <h1>Storage Management System</h1>
            <h2>Student Registration</h2>
            <h4><i>All fields are required</i></h4>
            <hr />

            <div class="row">
                <div class="col-md-9">
                    <form asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Student_FirstName" class="control-label"></label>
                            <input asp-for="Student_FirstName" class="form-control" />
                            <span asp-validation-for="Student_FirstName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Student_LastName" class="control-label"></label>
                            <input asp-for="Student_LastName" class="form-control" />
                            <span asp-validation-for="Student_LastName" class="text-danger">
                            </span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Student_ContactNumber" class="control-label"></label>
                            <input asp-for="Student_ContactNumber" class="form-control" />
                            <span asp-validation-for="Student_ContactNumber" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="University_Name" class="control-label"></label>
                            <div class="col-md-5">
                                @Html.DropDownList("University", null, "---Select University----")
                            </div>


                        </div>



                        <div class="form-group">
                            <label asp-for="Campus_Name" class="control-label"></label>


                            <select asp-for="Campus_Name" id="Campus">
                            </select>

                            <span asp-validation-for="Campus_Name" class="text-danger"></span>
                        </div>


                        <div class="form-group">
                            <label asp-for="Student_UniversityNumber" class="control-label"></label>
                            <input asp-for="Student_UniversityNumber" class="form-control" data-val="true" />
                            <span asp-validation-for="Student_UniversityNumber" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Student_Email" class="control-label"></label>
                            <input asp-for="Student_Email" class="form-control" />
                            <span asp-validation-for="Student_Email" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Student_Password" class="control-label"></label>
                            <input asp-for="Student_Password" class="form-control" type="password" />
                            <span asp-validation-for="Student_Password" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="confirmPassword" class="control-label"></label>
                            <input asp-for="confirmPassword" class="form-control" type="password" />
                            <span asp-validation-for="confirmPassword" class="text-danger"></span>
                        </div>



                        <div class="form-group">
                            <input type="submit" value="Register" class="btn btn-primary" />
                            <input type="button" value="Cancel" class="btn btn-primary" />
                        </div>
                        <b>@ViewBag.message</b>
                    </form>
                    </div>
                </div>

                <div>
                    <a asp-action="Index">Back to List</a>
                </div>

                @section Scripts {
                    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
                }
            </main>
        </div>

    </body>
